<div class="login-page">
  <div class="form">
    <form class="register-form"
      method="POST" name="userForm"
      ng-submit="$ctrl.onSubmit($ctrl.credentials)"
      novalidate
      ng-class="{error: $ctrl.errorMsg}">

      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form"
      method="POST" name="userForm"
      ng-submit="$ctrl.onSubmit($ctrl.credentials)"
      novalidate
      ng-class="{error: $ctrl.errorMsg}">

      <input type="email" placeholder="email" name="uName" ng-model="$ctrl.credentials.username" required/>
      <input type="password" placeholder="password" name="uPassword" ng-model="$ctrl.credentials.password" required/>
      <button type="submit"
             ng-disabled="userForm.uName.$error.required || userForm.uPassword.$error.required || $ctrl.viewSubmit"
             class="btn btn-primary"
             value="{{$ctrl.loadingText}}">signin</button>
    </form>
  </div>
</div>
