<div id="hangout">
  <!-- header -->
  <div id="head" class="style-bg">
    <i class="mdi mdi-arrow-left"></i>
    <i class="mdi mdi-fullscreen-exit"></i>
    <i class="mdi mdi-menu"></i>
    <h1>{{$ctrl.user.userName}}</h1>
    <i class="mdi mdi-chevron-down" style="padding-right: 40px;"></i>
    <i class="mdi mdi-power" style="position: absolute;right: 0px;font-size: 22px;width: 40px;cursor:pointer" ng-click="$ctrl.logout();"></i>
  </div>

  <!-- body -->
  <div id="content">
    <!-- user details -->
    <div class="overlay"></div>
    <div class="card menu">
      <div class="header">
        <img src="http://s8.postimg.org/76bg2es2t/index.png" />
        <h3>{{$ctrl.user.userName}}</h3>
      </div>
      <div class="content">
        <div class="i-group">
          <input type="text" id="username"><span class="bar"></span>
          <label>Name</label>
        </div>
        <br />
        <div class="center"><canvas id="colorpick" width="250" height="220" ></canvas></div>
      </div>
    </div>
    <!-- end user details -->

    <!-- contancts -->
    <div class="list-account">
      <div class="meta-bar"><input class="nostyle search-filter" type="text" placeholder="Search" /></div>
      <ul class="list mat-ripple">
        <li ng-repeat="user in users"><img src="http://lorempixel.com/100/100/people/1/"><span class="name">{{user.Username}}</span><i class="mdi mdi-menu-down"></i> </li>
      </ul> 
    </div>
    <!-- end contancts -->

    <!-- chat list -->
    <div class="list-text">
      <ul class="list mat-ripple">      
        <li><img src="http://lorempixel.com/100/100/people/1/">
          <div class="content-container">
            <span class="name">Angie</span>
            <span class="txt">i get the other involved a bit </span>
          </div>
          <span class="time">
            14:00
          </span>
        </li>
        <li><img src="http://lorempixel.com/100/100/people/4/">
          <div class="content-container">
            <span class="name">Larissa</span>
            <span class="txt">Hi! how are you :] </span>
          </div>
          <span class="time">
            16:02
          </span>
        </li>
        <li><img src="http://lorempixel.com/100/100/people/">
          <div class="content-container">
            <span class="name">Peter</span>
            <span class="txt">Want to go drink a beer after work ?</span>
          </div>
          <span class="time">
            16:03
          </span>
        </li>
      </ul>
    </div>
    <!-- end chat list -->

    <!-- chat page -->
    <div class="list-chat">
      <ul class="chat">
        <li>
        <img src="http://s8.postimg.org/76bg2es2t/index.png">
          <div class="message">o hai!</div>
        </li>
        <li>
        <img src="http://lorempixel.com/100/100/people/1/">
          <div class="message"></div>
        </li>
        <li>
        <img src="http://s8.postimg.org/76bg2es2t/index.png">
          <div class="message current">...</div>
        </li>
      </ul>
      <div class="meta-bar chat"><input class="nostyle chat-input" type="text" placeholder="Message..." /> <i class="mdi mdi-send"></i></div>
    </div>
    <!-- end chat page -->

    <!-- footer start -->
    <ul class="nav control mat-ripple tiny"><li data-route=".list-account"><i class="mdi mdi-account-multiple"></i></li><li data-route=".list-text"><i class="mdi mdi-comment-text"></i></li></li></ul>
    <!-- end footer -->
  </div>
</div>

